[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "==3.13"
requests = "*"
python-dotenv = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.10.0"
